.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0; /* Adjust the margin as needed */
  padding-top: 45px; /* Adjust the padding as needed */
  padding-bottom: 100px;
}

.imageContainer {
  padding-right: 100px;
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust the margin as needed */
}

.boldText {
  font-weight: bold;
  margin: 0; /* Remove margin here */
  text-align: left;
  padding-bottom: 8px;
}

.contactInfo {
  text-align: left;
  display: flex; /* Display "Kontakt" and contact info as a flex container */
  flex-direction: column; /* Arrange them vertically */
}

p {
  margin: 0;
}
